@tailwind base;
@tailwind components;
@tailwind utilities;

html[class='light'] {
  --primary-text-color: rgb(51, 50, 50);
}

html[class='dark'] {
  --primary-text-color: rgb(238, 230, 230);
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.scrollbar-track-rounded::-webkit-scrollbar-track {
  border-radius: 999px;
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 999px;
}

.banner {
  background: linear-gradient(
      40deg,
      /* 145deg, */ rgba(7, 167, 189, 0.5) 34%,
      transparent 34%,
      transparent 64%,
      rgba(7, 178, 184, 0.5) 64%,
      rgba(5, 145, 150, 0.5) 100%
    ),
    linear-gradient(40deg, rgb(4, 103, 120) 0%, rgb(18, 147, 170) 50%, rgb(16, 160, 185) 50%, rgb(16, 160, 185) 100%);
  /* linear-gradient(40deg, rgb(4, 103, 120) 0%, rgb(18, 147, 170) 62%, rgb(16, 160, 185) 62%, rgb(16, 160, 185) 100%); */
}

input[type='date']::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.6);
  font-size: 16px !important;
}

.splide__arrow {
  background: rgb(0, 0, 0) !important;
  height: 2.5em !important;
  width: 2.5em !important;
  opacity: 1 !important;
  color: rgb(226, 225, 225);
}

.splide__arrow svg {
  width: 1.3em !important;
  height: 1.3em !important;
}

.splide__arrow:hover {
  transition: all;
  transition-duration: 300ms;
  color: rgb(17, 166, 192) !important;
}

.splide__arrow:disabled {
  display: none;
  opacity: 0 !important;
}

.splide__arrow:hover:not(:disabled) {
  opacity: 1 !important;
}

.splide.is-focus-in .splide__arrow:focus {
  outline: 3px solid rgba(0, 187, 255, 0) !important;
  outline-offset: 3px;
}

/* REACT MULTI SELECT  */
html[class='dark'] {
  --bg-react-select-control: #171717;
  --bg-react-select-menu: #1f1f1f;
  --bg-react-select-option-hover: #262626;
  --text-react-select-option: white;
  --react-select-indicator: #d1d5db;
  --react-select-border: #404040;
}

html {
  --bg-react-select-control: white;
  --bg-react-select-menu: white;
  --bg-react-select-option-hover: #f3f4f6;
  --text-react-select-option: #171717;
  --react-select-indicator: #737373;
  --react-select-border: #e5e7eb;
}

.react-select__input:focus {
  box-shadow: none !important;
  color: var(--text-react-select-option) !important;
}

.react-select__control {
  background-color: var(--bg-react-select-control) !important;
  border-color: var(--react-select-border) !important ;
  cursor: pointer !important;
}

.react-select__control--is-focused {
  @apply !outline-none !ring-2 !ring-sky-600;
}

.react-select__multi-value {
  background-color: #09a2c9 !important;
  border-radius: 4px !important;
  margin-right: 4px !important;
  color: white !important;
}

.react-select__multi-value__label {
  color: white !important;
}

.react-select__indicator {
  color: var(--react-select-indicator) !important;
}

.react-select__menu {
  background-color: var(--bg-react-select-menu) !important;
  cursor: pointer !important;
  color: var(--text-react-select-option);
  border: none;
}

.react-select__option:hover {
  color: white;
}

/* React Lite youtube embed play button */
.yt-lite > .lty-playbtn {
  transition: all 0.4s !important;
}

.yt-lite:hover > .lty-playbtn {
  background-color: #ff0000;
}

.yt-lite::before {
  height: 100% !important;
  background-size: contain;
}

/* NProgress */
/* Progress Bar on Top of Page  */
html[class='light'] {
  --nprogress-color: #0cc2da;
}

html[class='dark'] {
  --nprogress-color: #0cc2da;
}

#nprogress .bar {
  /* background: var(--nprogress-color) !important; */
  @apply !bg-sky-500 !shadow-sky-500/50 dark:!bg-sky-400 dark:!shadow-sky-400/50;
}

#nprogress .spinner-icon {
  display: none;
}
